body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

#calculator{
    font-family: Arial, sans-serif;
    background-color:rebeccapurple;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 30px;
    font-size: 5rem ;
    text-align: left;
    border: none;
    background-color: hsla(313, 60%, 46%, 0.671);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(114, 1%,88%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(304, 23%, 38%);
}


button:active{
    background-color: hsl(301, 75%, 42%);
}



.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color:hsl(35, 100%, 75%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 85%);
}